{% extends "base.html" %}

{% block title %} pastebin-django{% endblock %}

{% block content %}

<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Title: {{ paste.title }}
                    </h4>
                    <h4 class="panel-title" style="display: inline-block;margin-bottom: 10px;">
                        <span class="glyphicon glyphicon-calendar"></span>: {{ paste.submitted }}
                    </h4>
                    <h4 class="panel-title" style="display: inline-block">
                        <span class="glyphicon glyphicon-time"></span>: {{ paste.expiration_datetime }}
                    </h4>
                    <h4 class="panel-title" style="display: inline-block">
                        <span class="glyphicon glyphicon-eye-open"></span>: {{ paste.hits }}
                    </h4>
                </div>
                <div class="panel-body paste-content-container">
                      {{ paste_text }}
                </div>
            </div>
            <div>
                <a href="{% url 'confirm_delete' paste.char_id %}"  class="btn btn-danger">Delete Paste</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}