<form action="{% url 'home:home' %}" method="post" class="form-horizontal">
	{% csrf_token %}
    <div class="form-group">
        {{ form.text }}
	</div>
    <!-- optional paste settings-->
    <div>
        <div style="border-bottom: 2px solid gray;margin: 19px 0">
            <h3>Optional Paste Settings</h3>
        </div>
        <div class="{% if form.text.errors %}has-error{% endif %}">
            <span style="margin:0 15px 0 10px;">
                <label>Paste Name/Title</label>
            </span>
            {{ form.title }}
        </div>
        <div style="margin: 15px 0;">
            <span style="margin: 0 15px 0 10px;">
                <label>Paste Expiration</label>
            </span>
            {{ form.expiration }}
        </div>
    </div>
    <!-- Submit -->
    <div style="margin: 0 0" class="form-group">
        <button class="btn btn-primary">Create New Paste</button>
    </div>
</form>